.accordionContainer {
    height: fit-content;
    padding: 5rem 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    @media (max-width: 600px) {
        padding: 3rem 1rem;
      }
}