.footer {
    height: fit-content;
    box-shadow: var(--mantine-shadow-custom);
    -webkit-box-shadow: var(--mantine-shadow-custom);
    -moz-box-shadow: var(--mantine-shadow-custom);
  }
  
.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
}
  
@media (max-width: 700px) {
    .inner {
        flex-direction: column;
        gap: 1rem;
    }
}